:root {
    --ff-header: "Days One", sans-serif;
    --ff-body: "Mukta", sans-serif;
    --ff-footer: 'Poppins', sans-serif;
    --clr-0: #1c1c1c;
    --clr-1: #EBF0F6;
    --clr-2: #98CCD3;
    --clr-3: #364E68;
    --clr-4: #132238;

    --fs-xl: 2rem;
    --fs-600: 1.5rem;
    --fs-500: 1rem;
    --fs-400: 0.7rem;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    font-family: var(--ff-body);
    color: var(--clr-0);
    background-color: var(--clr-1);
}

.body{
    font-size: var(--fs-500);
    
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 55.05%), var(--clr-4);
    /* background-color: var(--clr-4); */
    color:var(--clr-1);
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 1.5rem;
    margin-right: 5vw;
    z-index: 9999;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    background-color: var(--clr-1);
}

#search{
    margin-left: 10vw;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: var(--fs-500);
    font-weight: 400;
    color: var(--clr-white);
}

.nav-link:hover {
    color: var(--clr-2);
}

/* .nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
} */



/* .banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    margin: auto;
    
}

.svg-ban{
    position: relative;
    top: 10%;
    pointer-events: none;
    
}

.svg-ban img {
    max-width: 100%;
    max-height: 100%;
}

.text-ban {
    align-self: center;
    max-width: 50rem;
    font-size: var(--fs-xl);
    font-weight: 600;
    text-align: center;
} */



main{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 4rem;
    /* padding-top: 9rem; */
    /* width: 60%; */
}

.cont-up{
    margin-bottom: 10rem;
}

.upload{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    
}

.upload label{
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.4));
    padding: 0.8rem 1.8rem;
    font-size: var(--fs-600);
    margin-right: 1rem;
    background: #FFFFFF;
    cursor: pointer;
}

.upload button{
    /* border: none; */
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.4));
    padding: 1rem 1.8rem;
    font-size: var(--fs-600);
    font-weight:bold;
    background: #FFFFFF;
    color: var(--clr-0);
}

.upload button:hover{
    cursor: pointer;
}

.upload img {
    position: relative;
    top: 0.2rem;
    padding-right: 1rem;
}

#select{
    position: absolute;
}

.section {
    text-align: center;
}

.section text{
    font-size: var(--fs-600);
    font-weight: 700;
    /* padding: 5rem; */
}

.table{
    max-width: 100%;
    max-height: 100%;

}

.table tr{
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.4));
    padding: 4rem;
    
}



.table tr, .table td, .table th {
    padding: 1rem 3rem 1rem 3rem;
    margin: 0.2rem;
    background: #ffffff;
    font-size: var(--fs-500);
    /* border-top: 0px; */
    /* border-right: 0px; */
    /* border-bottom: 1px solid var(--clr-0); */
    /* border-top: 1px solid var(--clr-0); */
    /* border-left: 0px; */
    /* border-radius: 50%; */
}

table{
    border-collapse:separate; 
    border-spacing:0em 0.4em;
}

/* .logo img{
    background-color: red;
    margin-right: -10rem;
} */

.table td:hover{
    cursor: pointer;
}

.pair{
    display: flex;
    padding: 1rem 2rem 1rem 2rem !important;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
    justify-content:space-between;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
}

.pair b{
    font-weight: 600;
    opacity: 0.9;
}

.profit{
    color: rgb(42, 150, 18);
}

.loss{
    color: rgb(214, 46, 46);
}




    


@media screen and (max-width: 1200px) {
    .banner{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
    }

    .navbar {
        gap:0px;
        padding: 1.5rem 0rem;
    }

    .navbar li{
        margin: 0rem 1rem;

    }
    
    .svg-ban img {
        display:none;
    }
    .table tr, .table td, .table th{
        font-size: var(--fs-400);
    }
}
@media only screen and (max-width: 900px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4rem;
        flex-direction: column;
        background-color: var(--clr-4);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .navbar {
        justify-content: center;
    }

    .nav-menu.active {
        left: 0;
    }
    #search{
        margin-left: 1.7rem;
    }
    .navbar li{
        padding-bottom: 0.8rem;
        padding-top: 0.8rem;
    }
    .nav-item {
        /* position: relative;
        left:-1.1rem; */
    }

    .hamburger {
        display: block;
        cursor: pointer;
        align-self: center;
        justify-self: center;
    }
    .b1 {
        opacity: 0;
        /* transition: 0.1 ease; */
    }

    .b2 {
        position: relative;
        top: -4px;
        transform: translateY(4px) rotate(45deg);
    }

    .b3 {
        position: relative;
        top: -4px;
        transform: translateY(-4px) rotate(-45deg);
    }

    .text-ban{
        font-size:  var(--fs-500) ;
    }
    .start, .end{
        display: none;
    }
    .upload label{
        padding: 0.8rem 1.8rem;
        font-size: var(--fs-500);
        margin-right: 1rem;
    }
    
    .upload button{
        font-size: var(--fs-500);
    }
    
}

@media screen and (max-width: 600px) {
    .table tr, .table td, .table th {
        padding: 0.2rem 0.3rem 0.2rem 0.3rem !important;
    }
    .table{
        margin: 1rem;
        /* padding: 1rem; */
    }
    .table img {
        /* margin-left: -1.3rem; */
        width: 20%;
        height: 20%; 
    }
    .pair{
        padding: 0.2rem 0.1rem 0.2rem 0.1rem !important;
        gap: 0rem;
        justify-content: space-evenly;
    }
    .upload{
        flex-direction: column;
        margin: 2rem;
        /* padding:1rem; */
    }
    .upload label{
        padding: 1rem 1.8rem;
        /* font-size: var(--fs-400); */
        margin: 1rem;
    }
    
    .upload button{
        margin-top: 1rem;
        margin-bottom:-3rem ;
        /* font-size: var(--fs-400); */
    }
    #select{
        /* position:absolute; */
        display: none;
    }
    
    
    

}